<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Param1" value="Whatever"/>
    <add key="Ref_dBm_0" value="1.44"/>
    <add key="Ref_dBm_1" value="-0.45"/>
    <add key="Ref_dBm_2" value="2.67"/>
    <add key="Ref_dBm_3" value="0.59"/>
  </appSettings>
</configuration>